#sidebar {
  #close {
    display: none;
  }

  a, a:hover, a:focus {
    //color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

 /* #content {
    width: calc(100% - 250px);
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: auto;
    left: 0;
  }*/

  //.navbar {
  //  padding: 15px 10px !important;
  //  background: #fff;
  //  border: none;
  //  border-radius: 0;
  //  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  //}


}

#content{
    width: calc(100% - 250px);
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: auto;
    left: 0;

    .navbar {
        padding: 15px 10px !important;
        background: transparent;
        position: fixed !important;
        z-index: 999;
        border: none;
        border-radius: 0;
      }
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  box-shadow: 0 0 7px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .2);
  width: 250px;
  position: fixed;
  right: 0;
  left: auto;
  height: 100vh;
  transition: all 0.3s;
}

#sidebar.active {
  margin-right: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 20px;
  font-size: 1.1em;
  display: block;
  //color: inherit;
}

#sidebar ul li a:hover {
  //color: $o-brand-primary;
 // background: #fff;
}

#sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
 // color: #fff;
 // background: $o-brand-primary;
}


a[data-toggle="collapse"] {
  position: relative;
}

#sidebar {
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    //background: $o-brand-primary;
  }
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: $o-brand-primary;
}

a.article, a.article:hover {
  background: $o-brand-primary !important;
  color: #fff !important;
}


/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content.active {
  width: 100%;
}


/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
  }

  #content.active {
    width: calc(100% - 250px);
  }

  #sidebarCollapse span {
    display: none;
  }
}

#dismiss {
  display: none;
}

.sidebar-header > strong,
#sidebarCollapse5 {
  display: none;
}

body,
.navbar > .container, .navbar > .container-fluid {
  flex-flow: row-reverse;
}
