/*---------------------------Social Share Icon 1 Css Start--------------------------*/
#social_share_icon_1{
.icon_bg .btn {
    border-radius: 50%;
}
}
/*---------------------------Social Share Icon 1 Css End--------------------------*/

/*---------------------------Social Share Icon 3 Css Start--------------------------*/
#social_share_icon_3{
.icon_bg .btn {
    border-radius: 50%;
}
.btn_facebok {
    background-color: #3B579D;
    color: #ffffff;
}
.btn_twitter {
    background-color: #00ACED;
    color: #ffffff;
}
.btn_linkedin {
    background-color: #007BB6;
    color: #ffffff;
}
.btn_youtube {
    background-color: #df1c31;
    color: #ffffff;
}
.btn_google_plus{
    background-color: #DD4A3A;
    color: #ffffff;
}
.btn_github {
    background-color: #444;
    color: #ffffff;
}
.btn_instagram {
    background-color: #3f729b;
    color: #ffffff;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}

}
/*---------------------------Social Share Icon 3 Css End--------------------------*/

/*---------------------------Social Share Icon 4 Css Start--------------------------*/
#social_share_icon_4{
.icon_bg .btn{
    border: 1px solid theme-color("primary");
}
.fa-facebook-square {
    color: #3B579D;
}
.fa-twitter {
    color: #00ACED;
}
.fa-linkedin {
    color: #007BB6;
}
.fa-youtube-play {
    color: #df1c31;
}
.fa-google-plus-square {
    color: #DD4A3A;
}
.fa-github {
    color: #444;
}
.fa-instagram {
    color: #3f729b;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
}
/*---------------------------Social Share Icon 4 Css End--------------------------*/

/*---------------------------Social Share Icon 5 Css Start--------------------------*/
#social_share_icon_5{
.btn_facebok {
    background-color: #3B579D;
    color: #ffffff;
}
.btn_twitter {
    background-color: #00ACED;
    color: #ffffff;
}
.btn_linkedin {
    background-color: #007BB6;
    color: #ffffff;
}
.btn_youtube {
    background-color: #df1c31;
    color: #ffffff;
}
.btn_google_plus{
    background-color: #DD4A3A;
    color: #ffffff;
}
.btn_github {
    background-color: #444;
    color: #ffffff;
}
.btn_instagram {
    background-color: #3f729b;
    color: #ffffff;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
}
/*---------------------------Social Share Icon 5 Css End--------------------------*/

/*---------------------------Social Share Icon 6 Css Start--------------------------*/
#social_share_icon_6{
.btn_facebok {
    background-color: #3B579D;
    color: #ffffff;
}
.btn_twitter {
    background-color: #00ACED;
    color: #ffffff;
}
.btn_linkedin {
    background-color: #007BB6;
    color: #ffffff;
}
.btn_youtube {
    background-color: #df1c31;
    color: #ffffff;
}
.btn_google_plus{
    background-color: #DD4A3A;
    color: #ffffff;
}
.btn_github {
    background-color: #444;
    color: #ffffff;
}
.btn_instagram {
    background-color: #3f729b;
    color: #ffffff;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
}
/*---------------------------Social Share Icon 6 Css End--------------------------*/

/*---------------------------Social Share Icon 7 Css Start--------------------------*/
#social_share_icon_7{
.icon_bg .btn{
    border-radius: 12px 0px 12px 0px;
}
.btn_facebok {
    background-color: #3B579D;
    color: #ffffff;
}
.btn_facebok:hover {
    background-color: #ffffff;
    color: #3B579D;
    border: 1px solid #3B579D;
}
.btn_twitter {
    background-color: #00ACED;
    color: #ffffff;
}
.btn_twitter:hover {
    background-color: #ffffff;
    color: #00ACED;
    border: 1px solid #00ACED;
}
.btn_linkedin {
    background-color: #007BB6;
    color: #ffffff;
}
.btn_linkedin:hover {
    background-color: #ffffff;
    color: #007BB6;
    border: 1px solid #007BB6;
}
.btn_youtube {
    background-color: #df1c31;
    color: #ffffff;
}
.btn_youtube:hover {
    background-color: #ffffff;
    color: #df1c31;
    border: 1px solid #df1c31;
}
.btn_google_plus{
    background-color: #DD4A3A;
    color: #ffffff;
}
.btn_google_plus:hover{
    background-color: #ffffff;
    color: #DD4A3A;
    border: 1px solid #DD4A3A;
}
.btn_github {
    background-color: #444;
    color: #ffffff;
}
.btn_github:hover {
    background-color: #ffffff;
    color: #444;
    border: 1px solid #444;
}
.btn_instagram {
    background-color: #3f729b;
    color: #ffffff;
}
.btn_instagram:hover {
    background-color: #ffffff;
    color: #3f729b;
    border: 1px solid #3f729b;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
}
/*---------------------------Social Share Icon 7 Css End--------------------------*/

/*---------------------------Social Share Icon 8 Css Start--------------------------*/
#social_share_icon_8{
.icon_bg .btn{
    border-radius: 0px;
}
.btn_facebok {
    background-color: #3B579D;
    color: #ffffff;
}
.btn_facebok:hover {
    background-color: #ffffff;
    color: #3B579D;
    border: 1px solid #3B579D;
}
.btn_twitter {
    background-color: #00ACED;
    color: #ffffff;
}
.btn_twitter:hover {
    background-color: #ffffff;
    color: #00ACED;
    border: 1px solid #00ACED;
}
.btn_linkedin {
    background-color: #007BB6;
    color: #ffffff;
}
.btn_linkedin:hover {
    background-color: #ffffff;
    color: #007BB6;
    border: 1px solid #007BB6;
}
.btn_youtube {
    background-color: #df1c31;
    color: #ffffff;
}
.btn_youtube:hover {
    background-color: #ffffff;
    color: #df1c31;
    border: 1px solid #df1c31;
}
.btn_google_plus{
    background-color: #DD4A3A;
    color: #ffffff;
}
.btn_google_plus:hover{
    background-color: #ffffff;
    color: #DD4A3A;
    border: 1px solid #DD4A3A;
}
.btn_github {
    background-color: #444;
    color: #ffffff;
}
.btn_github:hover {
    background-color: #ffffff;
    color: #444;
    border: 1px solid #444;
}
.btn_instagram {
    background-color: #3f729b;
    color: #ffffff;
}
.btn_instagram:hover {
    background-color: #ffffff;
    color: #3f729b;
    border: 1px solid #3f729b;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
}
/*---------------------------Social Share Icon 8 Css End--------------------------*/

/*---------------------------Social Share Icon 9 Css Start--------------------------*/
#social_share_icon_9{
.icon_bg .btn{
    border-radius: 0px;
}
.btn_facebok {
    background-color: #3B579D;
    color: #ffffff;
}
.btn_twitter {
    background-color: #00ACED;
    color: #ffffff;
}
.btn_linkedin {
    background-color: #007BB6;
    color: #ffffff;
}
.btn_youtube {
    background-color: #df1c31;
    color: #ffffff;
}
.btn_google_plus{
    background-color: #DD4A3A;
    color: #ffffff;
}
.btn_github {
    background-color: #444;
    color: #ffffff;
}
.btn_instagram {
    background-color: #3f729b;
    color: #ffffff;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
}
/*---------------------------Social Share Icon 9 Css End--------------------------*/

/*---------------------------Social Share Icon 10 Css Start--------------------------*/
#social_share_icon_10{
.icon_bg .btn {
    border-radius: 12px 0px 12px 0px;
    transition: all 0.3s ease-in-out;
}
.icon_bg .btn:hover {
    webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.btn_facebok {
    background-color: #3B579D;
    color: #ffffff;
}
.btn_twitter {
    background-color: #00ACED;
    color: #ffffff;
}
.btn_linkedin {
    background-color: #007BB6;
    color: #ffffff;
}
.btn_youtube {
    background-color: #df1c31;
    color: #ffffff;
}
.btn_google_plus{
    background-color: #DD4A3A;
    color: #ffffff;
}
.btn_github {
    background-color: #444;
    color: #ffffff;
}
.btn_instagram {
    background-color: #3f729b;
    color: #ffffff;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
}
/*---------------------------Social Share Icon 10 Css End--------------------------*/
