nav.navbar.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
#wrapwrap .o_header_affix{
  background: transparent;
}
.nav-item.center_logo{
    display:none;
}

.search-hide{
    display: none;
}

.search-dropdown-hide{
    display: none;
}