#top_menu{
    margin-left: unset !important;
}

.left_logo{
    display:none !important;
}
.center_logo{
    display:none;
}

.search-hide{
    display: none;
}

.search-dropdown-hide{
    display: none;
}