.center_logo{
    display:none;
}
#top_menu{
    margin-right: auto !important;
}
.left_logo{
    display:none !important;
}

.search-hide{
    display: none;
}

.search-dropdown-hide{
    display: none;
}