.center_logo {
  display: none;
}

.right_logo {
  display: none !important;
}

nav.navbar-light {
  background-color: transparent !important;
  padding: 30px 15px;
}

nav.navbar-light > .container {
  background-color: #F9F9F9 !important;
  border: 1px solid #eaeaea;
  padding: 15px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}
header.affixed{
  display:none;
}

.search-hide{
    display: none;
}

.search-dropdown-hide{
    display: none;
}