#wrapwrap {
    input {
        border-radius: 0px !important;
    }

    textarea {
        border-radius: 0px !important;
    }

    /*.oe_website_login_container {
        input {
            border-radius: 50px !important;
            padding: 1.25rem 0.5rem;
        }
    }*/
}