#mid_header_top{
  display:block;
}
#company-profiles{
    display:none;
}
#mid_header_bottom{
    display:none;
}
.fa_company_contact_links:hover, .fa_company_contact_links:focus {
    text-decoration: none;
}
.fa_company_contact_info {
    font-size: 20px;
    padding: 5px 5px;
}
.navbar-sign-in{
    display:none !important;
}

#top_menu{
    #my_wish,#my_cart{
        display:none;
    }
}
#company-email, #company-contact{
    margin-top: 8px;
}
.divider{
    display:none !important;
}
.user-details{
    display:none;
}
#mid-header-top-right-welcome-msg{
 display:none;
}
#mid-header-top-left{
    #company-profiles{
        display: none;
    }
}

/*------- mid_header_7 scss start here-----*/

#mid-header-top-left, #mid-header-top-center, #mid-header-top-right {
    color: #ffffff;
}
#company-profiles{
    display:none !important;
}

#mid-header-top-right{
.user-details_1 #pricelist_custom a{
    cursor: pointer;
    text-decoration: none;
}
.user-details_1 #pricelist_custom a.text-white:hover, .user-details_1 #pricelist_custom a.text-white:focus {
    color: unset !important;
}
.user-details_1 .lang_custom .language_flag {
    display: inline-block;
    font-weight: 400;
    padding: 0.3rem 0rem;
    font-size: 0.875rem;
}
.user-details_1 .lang_custom .dropdown-toggle::after{
    color: #ffffff !important;
}
}
#mid-header-top-left {
    #company-contact{
    margin-top: 2px;
}
}
#mid-header-top-center {
    #company-email{
    margin-top: 2px;
    text-align: center;

}
}
@media only screen and (max-width: 440px) {
#mid-header-top-right .user-details_1 .dropdown-menu {
     min-width: 6.5rem;
}
#mid-header-top-left{
    #company-contact {
        text-align: center;
}
}
#mid-header-top-center{
    #company-email {
        text-align: center;
}
}
#mid-header-top-right  .text-right {
    text-align: center !important;
    display:block;
}
#mid-header-top-right-welcome-msg .text-right {
    text-align: center !important;
}
}

@media only screen and  (min-width: 768px) {
    #mid-header-top-right .user-details_1 .list-inline-item:not(:last-child) {
        margin-right: 0rem;
    }
    #mid-header-top-right .text-right {
        justify-content: flex-end !important;
        display: flex;
    }
     #mid-header-top-right .user-details_1 .dropdown-menu {
        min-width: 8rem;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
#mid-header-top-right {
    margin-left: 8.33333333%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
}
#mid-header-top-left {
    flex: 0 0 50%;
    max-width: 50%;
}
#mid-header-top-center {
    flex: 0 0 50%;
    max-width: 50%;
}
#mid-header-top-center .text-center {
        text-align: right !important;
}
}
@media (min-width: 992px){
#mid-header-top-left {
    flex: 0 0 25%;
    max-width: 25%;
}
#mid-header-top-right {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}
}

/*------- mid_header_7 scss end here-----*/