#mid_header_top{
  display:block;
}

#mid_header_bottom {
    display: none;
}

.fa_company_contact_links:hover, .fa_company_contact_links:focus {
    text-decoration: none;
}

.fa_company_contact_info {
    font-size: 14px;
    padding: 5px 5px;
}

.user-details {
    display: none;
}

.user-details_1 {
    display: none;
}

#mid-header-top-right-welcome-msg {
    display: none;
}

#mid-header-top-left {
    #company-profiles {
        display: none;
    }
}

/*------- mid_header_1 scss start here-----*/
#company-contact{
    color:#ffffff;
}
#company-email{
    color:#ffffff;
}
#company-profiles a {
    color:#ffffff !important;
}
#mid-header-top-right .text-right {
    text-align: right !important;
    margin-top: 2px !important;
}
@media only screen and (max-width: 440px) {
    #mid-header-top-left, #mid-header-top-center, #mid-header-top-center, #mid-header-top-center {
        line-height: 2.2;
        text-align: center;
    }
    #mid-header-top-right .text-right {
        text-align: center !important;
    }
}

/*------- mid_header_1 scss end here-----*/

