#mid_header_top{
  display:block;
}

#company-profiles{
    display:none;
}
#mid_header_bottom{
    display:none;
}
.fa_company_contact_links:hover, .fa_company_contact_links:focus {
    text-decoration: none;
}
.fa_company_contact_info {
    font-size: 20px;
    padding: 5px 5px;
}
//.navbar-sign-in{
  //  display:none !important;
//}

#top_menu{
    #my_wish,#my_cart{
        display:none;
    }
}
#company-email, #company-contact{
    margin-top: 8px;
}
.divider{
    display:none !important;
}
.user-details_1{
    display:none;
}

#mid-header-top-right-welcome-msg{
 display:none;
}
#mid-header-top-left{
    #company-profiles{
        display: none;
    }
}

/*------- mid_header_6 scss start here-----*/
#mid-header-top-left, #mid-header-top-center, #mid-header-top-right{
    color:#ffffff !important;
}
#mid-header-top-right .user-details .nav-link{
    color:#ffffff;
}
#mid-header-top-right .user-details .fa {
    color: #ffffff;
}
#mid-header-top-right .user-details .list-inline-item:not(:last-child) {
    margin-right: 0rem;
}
#mid-header-top-right .user-details .pb-0, #mid-header-top-right .user-details .py-0 {
    padding-bottom: 0 !important;
    padding-top: 7px;
}
#mid-header-top-right .user-details .fa-2x {
    font-size: 20px;
}
#mid-header-top-right .user-details .list-inline-item {
    display: flex !important;
}
#mid-header-top-right .user-details ul {
    text-align: right !important;
    display: flex;
    justify-content: flex-end;
}
.o_connected_user #mid-header-top-right .user-details .nav-link {
    display: block;
    padding: 5px 5px;
}
.o_connected_user #mid-header-top-right .user-details .list-inline-item:not(:last-child) {
    margin-right: 7px;
}
#mid-header-top-left{
    #company-contact {
       margin-top: 2px;
    }
}
#mid-header-top-center{
  #company-email {
       margin-top: 2px;
    }
}
@media only screen and (max-width: 440px) {
    #company-contact {
        margin-top: 8px;
        text-align: center;
    }
    #mid-header-top-right .user-details ul {
        text-align: center !important;
        justify-content: center;
    }
    #mid-header-top-right .user-details .badge {
        display: none;
    }
 }
 @media only screen and  (min-width: 768px) {

     #mid-header-top-right .user-details .badge {
        display: none;
    }

 }

/*------- mid_header_6 scss end here-----*/
